{% extends 'base.html' %}
{% load static %}
{% block title %}Our Offers{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block content %}
<section class="articles">
    {% if count == 0 %}
    <article style="background:none;">
    </article>
    <article style="">
        <div class="article-wrapper"> 
          <figure>
            <img src="{% static 'image/not.png' %}" alt="" />
          </figure>
          <div class="article-body">
            <h2>No Offers</h2>
            <p>
              <h6>Place : Empty</h6>
              <h6>Statue : Empty</h6>
              <h6>Price : 0 DA</h6>
            </p>
            <hr>
            <div class="center" style="display: flex; justify-content:space-between;">
                <a href="#" class="btn btn-primary disabled">Edit</a>
                <a href="#" class="btn btn-danger disabled">Delete</a>
            </div>
          </div>
        </div>
      </article>
    {% endif %}
    {% for i in place %}
      <article>
        <div class="article-wrapper"> 
          <figure>
            <img src="{{i.place_image.url}}" alt="" />
          </figure>
          <div class="article-body">
            <h2>Offer Informations</h2>
            <p>
              <h6>Place : {{i.name_country}}</h6>
              <h6>Statue : {{i.statue}}</h6>
              <h6>Price : {{i.price_place}} DA</h6>
            </p>
            <hr>
            <div style="display: flex; justify-content:space-between;">
                <a href="{% url 'update_offer' i.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_offer' i.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
</section>
{% endblock content %}