{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Add Customer{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <h2 class="card-title text-center">Create a New Client</h2>
          <div class="card-body py-md-4">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {% render_field form.name class="form-control" id="name" placeholder="Username"%}
              </div>
              <div class="form-group">
                {% render_field form.phonenumber class="form-control" id="name" placeholder="Phonenumber" %}
              </div>
  
              <div class="form-group">
                {% render_field form.passportnumber class="form-control" placeholder="Passport Number" %}
              </div>
              {% for message in messages %}
              <div style="margin: 0rem 11rem;width: 100%;">
                <p class="ms auto">{{message}}</p>
              </div>
              {% endfor %}
              <div class="d-flex flex-row align-items-center justify-content-between">
                <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
                <button class="btn btn-primary" type="submit">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}